<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="gov.usgs.wma.mapper.MonitoringLocationMapper">
	<!--Map Monitoring Locations-->
	<resultMap id="MonitoringLocationMap" type="MonitoringLocation">
		<id property="id" column="monitoring_location_id"/>
		<result property="locationNumber" column="location_number"/>
		<result property="name" column="name"/>
		
		<!--Currently no fields in MonitoringLocation for storing these values-->
		<result property="" column="create_date"/>
		<result property="" column="create_user"/>
		<result property="" column="last_update"/>
		<result property="" column="last_update_user"/>
		
		<!--Currently no field in MonitoringLocation for storing GeoJSON Feature-->
		<result property="" column="feature"/>
		
		<association property="monitoringLocationType" resultMap="MonitoringLocationTypeMap"/>
		<association property="primaryAgency" resultMap="AgencyMap"/>
		<association property="country" resultMap="CountryMap"/>
		<association property="state" resultMap="StateMap"/>
		<association property="county" resultMap="CountyMap"/>
		<association property="minorCivilDivisionCode" resultMap="MinorCivilDivisionCodeMap"/>
		<association property="hydrologicUnit" resultMap="HydrologicUnitMap"/>
		<association property="nationalAquifer" resultMap="NationalAquiferMap"/>
		<association property="aquifer" resultMap="AquiferMap"/>
		<collection property="agency" column="monitoring_location_id" javaType="ArrayList" ofType="Agency"/>
		<collection property="uses" column="monitoring_location_id" javaType="ArrayList" ofType="Use"/>
	</resultMap>
	
	<!-- Map Agnecies-->
	<resultMap id="AgencyMap" type="Agency">
		<id property="id" column="agency_id"/>
		<result property="name" column="name"/>
		<result property="code" column="code"/>
	</resultMap>
		
	<!-- Map GeoCodeBases-->
	<resultMap id="CountryMap" type="GeoCodeBase">
		<id property="id" column="country_id"/>
		<result property="name" column="name"/>
		<result property="code" column="code"/>
	</resultMap>
	
	<resultMap id="StateMap" type="GeoCodeBase">
		<id property="id" column="state_id"/>
		<result property="name" column="name"/>
		<result property="code" column="code"/>
	</resultMap>
	
	<resultMap id="CountyMap" type="GeoCodeBase">
		<id property="id" column="county_id"/>
		<result property="name" column="name"/>
		<result property="code" column="code"/>
	</resultMap>
	
	<resultMap id="MinorCivilDivisionMap" type="GeoCodeBase">
		<id property="id" column="minor_civil_division_id"/>
		<result property="name" column="name"/>
		<result property="code" column="code"/>
	</resultMap>
	
	<resultMap id="HydrologicUnitMap" type="GeoCodeBase">
		<id property="id" column="hydrologic_unit_id"/>
		<result property="name" column="name"/>
		<result property="code" column="code"/>
	</resultMap>
	
	<!-- Map Monitoring Location Aquifers-->
	<resultMap id="AquiferMap" type="MonitoringLocationAquifer">
		<id property="id" column="aquifer_id"/>
		<result property="name" column="name"/>
		<result property="code" column="code"/>
	</resultMap>
	
	<resultMap id="NationalAquiferMap" type="MonitoringLocationAquifer">
		<id property="id" column="national_aquifer_id"/>
		<result property="name" column="name"/>
		<result property="code" column="code"/>
	</resultMap>
	
	<!-- Map Monitoring Location Types-->
	<resultMap id="MonitoringLocationTypeMap" type="MonitoringLocationType">
		<id property="id" column="monitoring_location_type_id"/>
		<result property="name" column="name"/>
		<result property="code" column="code"/>
	</resultMap>
	
	<!-- Map Uses-->
	<resultMap id="UseMap" type="Use">
		<id property="id" column="use_id"/>
		
		<!--Currently no field in Use for storing use_type-->
		<result property="" column="use_type"/>
		<result property="code" column="code"/>
		<result property="name" column="name"/>
	</resultMap>
	
	<!-- Needs to be implemented as a Model class-->
	<!--
	<resultMap id="MonitoringLocationUseRelMap" type="MonitoringLocationUseRel">
		<result property="id" column="monitoring_location_id"/>
	</resultMap>
	-->
	
	<!--Returns a count of the number of MLEntity instances in the table-->
	<select id="getCount" parameterType="map" resultType="int">
		SELECT
			count(*)
		FROM monitoring_location
			<include refid="basicWhereAndOrder"/>
	</select>
	
	<!--Returns a list of retrieved MLEntity records-->
	<select id="getMonitoringLocations" resultMap="MonitoringLocationMap" fetchSize="250000" >
		SELECT *
		FROM monitoring_location
			<include refid="basicWhereAndOrder"/>
	</select>
	
	<!--Where caluses for dealing with optional parameters and ordering-->
	<!--TODO: Add additional query options here-->
	<sql id="basicWhereAndOrder">
		<where>
			<if test="id != null">AND id = #{id}</if>
			<if test="locationNumber != null">AND location_number = '#{locationNumber}'</if>
			<if test="name != null">AND name = '#{name}'</if>
			<if test="number != null">AND number = #{number}></if>
		</where>
		ORDER BY id
	</sql>
</mapper>