<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- Not sure if these are needed. Values are from GDAWS_AQ_SYNC-->
	<settings>
		<setting name="cacheEnabled" value="false"/>
		<setting name="lazyLoadingEnabled" value="false"/>
		<setting name="aggressiveLazyLoading" value="false"/>
		<setting name="defaultExecutorType" value="BATCH"/>
		<setting name="defaultStatementTimeout" value="1300"/>
		<setting name="logImpl" value="SLF4J"/>
		<setting name="autoMappingBehavior" value="PARTIAL"/>
	</settings>

	<typeAliases>
		<typeAlias alias="Agency" type="gov.usgs.wma.model.Agency"/>
		<typeAlias alias="AltitudeDatum" type="gov.usgs.wma.model.AltitudeDatum"/>
		<typeAlias alias="AltitudeMethod" type="gov.usgs.wma.model.AltitudeMethod"/>
		<typeAlias alias="Aquifer" type="gov.usgs.wma.model.Aquifer"/>
		<typeAlias alias="Country" type="gov.usgs.wma.model.Country"/>
		<typeAlias alias="County" type="gov.usgs.wma.model.County"/>
		<typeAlias alias="ErrorModel" type="gov.usgs.wma.model.ErrorModel"/>
		<typeAlias alias="Feature" type="gov.usgs.wma.model.Feature"/>
		<typeAlias alias="HorizontalAccuracy" type="gov.usgs.wma.model.HorizontalAccuracy"/>
		<typeAlias alias="HorizontalDatum" type="gov.usgs.wma.model.HorizontalDatum"/>
		<typeAlias alias="HorizontalMethod" type="gov.usgs.wma.model.HorizontalMethod"/>
		<typeAlias alias="HydrologicUnit" type="gov.usgs.wma.model.HydrologicUnit"/>
		<typeAlias alias="MinorCivilDivisionCode" type="gov.usgs.wma.model.MinorCivilDivisionCode"/>
		<typeAlias alias="MonitoringLocation" type="gov.usgs.wma.model.MonitoringLocation"/>
		<typeAlias alias="MonitoringLocationType" type="gov.usgs.wma.model.MonitoringLocationType"/>
		<typeAlias alias="NationalAquifer" type="gov.usgs.wma.model.NationalAquifer"/>
		<typeAlias alias="Point" type="gov.usgs.wma.model.Point"/>
		<typeAlias alias="State" type="gov.usgs.wma.model.State"/>
		<typeAlias alias="Use" type="gov.usgs.wma.model.Use"/>
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="org.postgresql.Driver"/>
				<property name="url" value="jdbc:postgresql://localhost:5432/mlr"/>
				<property name="username" value="mlr"/>
				<property name="password" value="password"/>
			</dataSource>
		</environment>
	</environments>
 	
	<mappers>
		<mapper resource="mybatis/MonitoringLocationMapper.xml"/>
	</mappers>
    
</configuration>