<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="gov.usgs.wma.ml.mlr.mapper.MonitoringLocationMapper">
	
	<!--Map Monitoring Locations-->
	<resultMap id="MonitoringLocationMap" type="MonitoringLocation">
		<result property="id" column="id"/>
		<result property="locationNumber" column="location_number"/>
		<result property="name" column="name"/>
		<result property="monitoringLocationType" column="type_id"/>
		<result property="" column="primary_agency_id"/>
		<result property="" column="feature_id"/>
		<result property="country" column="country_id"/>
		<result property="state" column="state_id"/>
		<result property="county" column="county_id"/>
		<result property="minorCivilDivisionCode" column="minor_civil_division_id"/>
		<result property="hydrologicUnit" column="hydrologic_unit_id"/>
		<result property="nationalAquifer" column="national_aquifer_id"/>
		<result property="aquifer" column="aquifer_id"/>
		<result property="" column="create_date"/>
		<result property="" column="create_user"/>
		<result property="" column="last_update"/>
		<result property="" column="last_update_user"/>
	</resultMap>
	
	<!-- Map Agnecies-->
	<resultMap id="AgencyMap" type="Agency">
		<result property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="code" column="code"/>
	</resultMap>
	
	<!-- Map Features-->
	<resultMap id="FeatureMap" type="Feature">
		<result property="type" column="type"/>
		<result property="geometry" column="geometry"/>
		<result property="pointProperties" column="point_properties"/>
	</resultMap>
	
	<!-- Map GeoCodeBases-->
	<resultMap id="GeoCodeBaseMap" type="GeoCodeBase">
		<result property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="code" column="code"/>
	</resultMap>
	
	<!-- Map Geometries-->
	<resultMap id="GeometryMap" type="Geometry">
		<result property="type" column="type"/>
	</resultMap>
	
	<!-- Map Monitoring Location Aquifers-->
	<resultMap id="MonitoringLocationAquiferMap" type="MonitoringLocationAquifer">
		<result property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="code" column="code"/>
		<result property="nationalAquifer" column="national_aquifer"/>
	</resultMap>
	
	<!-- Map Monitoring Location Types-->
	<resultMap id="MonitoringLocationTypeMap" type="MonitoringLocationType">
		<result property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="code" column="code"/>
	</resultMap>
	
	<!-- Map Points-->
	<resultMap id="PointMap" type="Point" extends="GeometryMap">
		<result property="coordinates" column="coordinates"/>
	</resultMap>
		
	<!-- Map Point Properties-->
	<resultMap id="PointPropertiesMap" type="PointProperties">
		<result property="horizontalAccuracyCode" column="horizontal_accuracy_code"/>
		<result property="horizontalDatum" column="horizontal_datum"/>
		<result property="horizontalMethodCode" column="horizontal_method_code"/>
		<result property="altitudeAccuracy" column="altitude_accuracy"/>
		<result property="altitudeDatum" column="altitude_datum"/>
		<result property="altitudeMethodCode" column="altitude_method_code"/>
	</resultMap>
	
	<!-- Map Uses-->
	<resultMap id="UseMap" type="Use">
		<result property="id" column="id"/>
		<result property="rank" column="rank/>
		<result property="code" column="code"/>
		<result property="name" column="name"/>
	</resultMap>
	
	
	
	<!--Returns a count of the number of MLEntity instances in the table-->
	<select id="getCount" parameterType="map" resultType="int">
		SELECT
			count(*)
		FROM monitoring_location
			<include refid="whereAndOrder"/>
	</select>
	
	<!--Returns a list of retrieved MLEntity records-->
	<select id="getMonitoringLocations" resultMap="MonitoringLocationMap" fetchSize="250000" >
		SELECT
			<include refid="MonitoringLocationColumns"/>
		FROM monitoring_location
			<include refid="whereAndOrder"/>
	</select>
	
	<!--Where caluses for dealing with optional parameters and ordering-->
	<sql id="whereAndOrder">
		<where>
			<if test="id != null">AND id = '${id}'</if>
		</where>
		ORDER BY id
	</sql>
	
	<!--List of Columns to select from the ML_ENTITY_TABLE table-->
	<sql id="MonitoringLocationColumns">
		id
	</sql>
</mapper>